.top-line span{
    color: #9b9b9b;
}

.top-line {
    background-color: #222;
    position: relative;
    height: 60px;
}

.top-line .info {
    padding-left: 25px;
    left: 0;
    display: inline-block;
    position: absolute;
    line-height: 55px;
}
.logout {
    position: absolute;
    padding-right: 25px;
    padding-left: 10px;
    right: 0;
    color: #fff;
    line-height: 55px;
    cursor: pointer;
    transition: color .25s ease;
    font-size: 24px;
}

.logout a {
    color: #645e5e;
    padding-right: 10px;
    font-size: 20px;
    text-decoration: none; /* Убираем подчеркивание */
}

.logout a:hover {
    color: #444040; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: none; /* Убираем подчеркивание */
}